.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .parent{
    height: 400px;
    width: 300px;
    padding: 20px;
    perspective: 1000px;
  }
  
  .card-work{
    border: 1px solid black;
    padding-top: 100px;
    transform-style: preserve-3d;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
  }
  
  .card-work:hover{
    background-position: 80% 20%;
    transform: rotate3d(0.5, 1, 0, 30deg);
  }
  
  .content-box{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    border-radius: 0px 0px 10px 10px;
    /* box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px; */
    transition: all 0.5s ease-in-out;
    padding: 50px 25px 25px 25px;
    transform-style: preserve-3d;
  }
  
  .card-work-title{
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .card-work-title:hover {
    transform: translate3d(0px, 0px, 50px);
  }
  
  .card-work-content{
    padding-top: 15px;
    font-size: 12px;
    color: rgb(185, 185, 185);
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .card-work-content:hover{
    transform: translate3d(0px, 0px, 50px);
  }
  
  .see-more{
    display: block;
    font-weight: 900;
    font-size: 11px;
    text-transform: uppercase;
    color: rgb(0, 136, 255);
    padding-top: 15px;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .see-more:hover{
    transform: translate3d(0px, 0px, 50px);
  }
  
  .Logo{
    scale: 5;
    /* border-radius: 40%; */
  }

  .date-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75px;
    left: 25px;
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 10px;
    padding: 12px;
    /* box-shadow: rgb(0, 102, 255) 0px 20px 60px 0px, rgb(0, 200, 255) 0px 18px 36px -18px; */
    transform: translate3d(0px, 0px, 50px);
  }
  
  .date-box span{
    display: block;
    text-align: center;
  }
  
  .date-box .month{
    color: white;
    font-size: 12px;
    font-weight: 700;
  }
  
  .date-box .date{
    font-size: 19px;
    font-weight: 900;
    color: rgb(0, 136, 255);
  }

  #card1{
    background-image: url(../../Assets/Landing\ Page1.png);
  }
  #card2{
    background-image: url(../../Assets/Landing\ Page2.png);
  }
  #card3{
    background-image: url(../../Assets/Landing\ Page3.png);
  }
  #card4{
    background-image: url(../../Assets/Landing\ Page4.png);
  }
  
